{% extends "base.html" %}

{% block title %}Genres - Steam Store Database{% endblock %}

{% block content %}
<h1 class="mb-4">Genres</h1>

<form method="GET" class="mb-3">
    <div class="input-group">
        <input
            type="text"
            class="form-control"
            name="search"
            placeholder="Search game..."
            value="{{ search }}"
        >

        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
            <tr>
                <td>{{ genre[0] }}</td>
                <td>{{ genre[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="/" class="btn btn-secondary">Back Home</a>
{% endblock %}